IndexIgnore *

<IfModule mod_rewrite.c>

    #Options +FollowSymLinks
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 10 days"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/jpg  "access plus 1 month"

    <IfModule mod_headers.c>
        Header append Cache-Control "public"
      </IfModule>
</IfModule>
# END EXPIRES

<FilesMatch “.(ttf|otf|eot|woff)$”>
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin “*”
    </IfModule>
</FilesMatch>
